body {
  	margin: 0;
  	padding: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.header {
	height: 50px;
	width: 100%; //fallback
   	width: 100vw;
   	position: fixed;
   	border-bottom: 1px solid #ddd;
   	display: inline-block;
}

.navbar {
	//margin-left: 25%;
	//margin-right: 25%;
	margin-left: 20px;
    margin-right: 20px;
}

.logo {
	height: 30px;
	margin-top: 10px;
}

.mybtn {
	height: 47px;
	float: right;
	padding-right: 20px;
	padding-left: 20pX;
	cursor: pointer;
}

.mybtn p {
	padding-top: 6px;
	color: #474445;
	font: 12px Arial, Helvetica, sans-serif;
}

.mybtn:hover {
	border-bottom: 3px solid #06befb;
}

.contentbox {
    margin: 20px;
    float: left;
    border: 1px solid #06befb;
}

#content {
    display: inline-block;
    position: fixed;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    overflow-y:scroll;
    overflow-x:hidden;
}

.loginBox {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    top: 50%;
    left: 50%;
    margin: -97px 0 0 -52px;
    width: 194px;
    height: 104px;
}

.userBox {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    top: 50%;
    left: 50%;
    margin: -97px 0 0 -82px;
    width: 194px;
    height: 164px;
}

.loginBox input {
    margin: 10px 10px 0 10px;
}

.userBox input {
    margin: 10px 10px 0 10px;
}

.errortxt {
    color: red;
    margin-left: 10px;
    margin-right: 10px;
}

#logoutBtn {
    display: none;
    width: 50px;
}

#newBtn {
    display: none;
}

